<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="configurations.listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="saisaketh.Appium.formpagetests"/>
    </classes>
  </test> <!-- Test -->
  <test name="completesuite">
  <classes>
  <class name="saisaketh.Appium.PracticeApp"></class>
  </classes>
  </test>
</suite> <!-- Suite -->
